<div>
  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <input class="form-control" formControlName="searchTerm" placeholder="Enter an organization name" type="text">
  </form>

  <div *ngIf="searching" class="alert alert-info mt-3 py-2 px-3">
    <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="me-2"></fa-icon>
    Searching...
  </div>

  <div *ngIf="notFound" class="alert alert-danger mt-3 py-2 px-3">
    Could not find any organization matching "{{form.controls['searchTerm'].value}}".
  </div>

  <div *ngIf="foundOrganization != null" class="my-3 list-group">
    <div
      class="list-group-item list-group-item-action"
      [class.active]="selectedOrganization != null"
      (click)="selectOrganization(foundOrganization)"
    >
      <fa-icon [fixedWidth]="true" [icon]="faBuilding"></fa-icon>
      {{foundOrganization.name}} <span class="text-muted">(@{{foundOrganization.id}})</span>
    </div>
  </div>
</div>
