<div>
  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <input class="form-control" formControlName="searchTerm" placeholder="Enter an organization name" type="text">
  </form>

  <div *ngIf="searching" class="alert alert-info mt-3 py-2 px-3">
    <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="me-2"></fa-icon>
    Searching...
  </div>

  <div *ngIf="notFound" class="alert alert-danger mt-3 py-2 px-3">
    Could not find any organization matching "{{form.controls['searchTerm'].value}}".
  </div>

  <div *ngIf="foundOrganization != null" class="mt-3 rounded-3 p-2 border d-flex">
    <div class="ms-2">
      <div class="mb-1">
        <fa-icon [fixedWidth]="true" [icon]="['fas', 'building']"></fa-icon>
        {{foundOrganization.name}} <span class="text-muted">(@{{foundOrganization.id}})</span>
      </div>
    </div>
  </div>
</div>
