<div class="modal-header">
  <h5 class="modal-title">Create a new user</h5>
  <button (click)="modal.dismiss()" aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
  <form (ngSubmit)="createUser()" [formGroup]="form" class="d-flex flex-column gap-3 mb-3">
    <div>
      <label class="form-label" for="name">Name</label>
      <input
        class="form-control"
        formControlName="name"
        id="name"
        placeholder="Enter a name"
        type="text"
      >
    </div>
    <div>
      <label class="form-label" for="username">Username</label>
      <input
        class="form-control"
        formControlName="username"
        id="username"
        placeholder="Enter an username"
        type="text"
      >
    </div>
    <div>
      <label class="form-label" for="username">Email</label>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        placeholder="Enter an email address"
        type="email"
      >
    </div>
    <div>
      <label class="form-label" for="username">Password</label>
      <input
        class="form-control"
        formControlName="password"
        id="password"
        placeholder="Enter a password"
        type="password"
      >
    </div>
  </form>
</div>
<div class="modal-footer">
  <button (click)="modal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="createUser()" [disabled]="!canCreateUser" class="btn btn-primary" type="button">Create</button>
</div>
