<a
  [routerLink]="['/app', 'projects', project.id, 'editor']"
  [state]="state"
  class="editor-widget d-flex align-items-center p-3 rounded-3 shadow-sm"
>
  <fa-icon [icon]="['fas', 'code']" class="me-4 ms-2" size="lg"></fa-icon>
  <div class="flex-grow-1 ps-3 py-1" style="border-left: 1px solid rgba(255,255,255,.5)">
    <h6><strong>{{project.name}}</strong></h6>
    <p class="m-0">
      Start {{project.template == null ? 'working on your DSLs' : 'modeling in our graphical environment'}} now!
    </p>
  </div>
  <div class="align-self-baseline">
    <div class="d-inline-block" ngbDropdown container="body">
      <button class="btn btn-sm no-caret text-white" ngbDropdownToggle (click)="$event.preventDefault(); $event.stopPropagation()">
        <fa-icon [icon]="['fas', 'cog']"></fa-icon>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="redeploy = !redeploy">
          <fa-icon [icon]="['far', getCheckIcon(redeploy)]" [fixedWidth]=true></fa-icon> Hard reload
        </button>
      </div>
    </div>
  </div>
</a>
