<div class="main-class">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <cc-user-navbar></cc-user-navbar>
        <div class="container">
          <form>
            <div class="row">
              <label for="emailInput" class="col-sm-1 col-form-label">Email address</label>
              <div class="col-sm-4 col-sm-offset-4">
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
              </div>
            </div>
            <div class="row">
              <label for="passwordInput" class="col-sm-1 col-form-label">Password</label>
              <div class="col-sm-auto">
                <input type="password" class="form-control" id="passwordInput" placeholder="name@example.com">
              </div>
            </div>
            <div class="row">
              <button type="submit" class="btn-primary btn col-sm-1">Login</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>
