[submodule "cinco-language-server"]
	path = cinco-ls
	url = ../cinco-language-server.git

[submodule "pyro-generator"]
	path = cinco-ls/de.jabc.cinco.meta.plugin.pyro.generator
	url = ../pyro-generator.git