.idea
.kpt-pipeline
/infrastructure/helm/secrets.yaml
/infrastructure/helm/secrets.yml
/infrastructure/helm/values-temp.yaml
/infrastructure/helm/values-temp.yml
/infrastructure/helm/*.tgz
/cinco-cloud-local-rootCA.pem
