<div class="main-class">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <cc-user-navbar></cc-user-navbar>
        <div class="container">
          <form>
            <div class="row">
              <label class="col-sm-1 col-form-label" for="emailInput">Email address</label>
              <div class="col-sm-4 col-sm-offset-4">
                <input class="form-control" id="emailInput" placeholder="name@example.com" type="email">
              </div>
            </div>
            <div class="row">
              <label class="col-sm-1 col-form-label" for="passwordInput">Password</label>
              <div class="col-sm-auto">
                <input class="form-control" id="passwordInput" placeholder="name@example.com" type="password">
              </div>
            </div>
            <div class="row">
              <button class="btn-primary btn col-sm-1" type="submit">Login</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>
