.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
lib/
static/bundle/
static/monaco-editor-workers/
static/worker/
bundle/*.js
bundle/cinco-languages.js
src/generated/
