<div class="container mt-3">
  <ul ngbNav #nav="ngbNav" class="nav nav-pills d-flex gap-2">
    <li ngbNavItem class="nav-item">
      <a ngbNavLink class="nav-link">
        Projects <span class="badge">{{projects.length}}</span>
      </a>
      <ng-template ngbNavContent>
        <div class="alert alert-info" *ngIf="projects.length === 0">
          There aren't any projects yet.
        </div>
      </ng-template>
    </li>
    <li ngbNavItem class="nav-item">
      <a ngbNavLink class="nav-link">
        Organizations <span class="badge">{{organizations.length}}</span>
      </a>
      <ng-template ngbNavContent>
        <div class="alert alert-info" *ngIf="organizations.length === 0">
          There aren't any organizations yet.
        </div>
      </ng-template>
    </li>
  </ul>

  <div class="mt-3" [ngbNavOutlet]="nav"></div>
</div>
