<div class="container mt-3">
  <div class="d-flex align-items-center">
    <ul ngbNav #nav="ngbNav" class="nav nav-pills d-flex gap-2">
      <li ngbNavItem="projects" class="nav-item">
        <a ngbNavLink class="nav-link">
          Projects <span class="badge">{{projects.length}}</span>
        </a>
        <ng-template ngbNavContent>
          <div class="alert alert-info mt-3" *ngIf="projects.length === 0">
            There aren't any projects yet.
          </div>
        </ng-template>
      </li>
      <li ngbNavItem="organizations" class="nav-item">
        <a ngbNavLink class="nav-link">
          Organizations <span class="badge">{{organizations.length}}</span>
        </a>
        <ng-template ngbNavContent>
          <div class="alert alert-info mt-3" *ngIf="organizations.length === 0; else organizationList">
            There aren't any organizations yet.
          </div>
          <ng-template #organizationList>
            <cc-organization-list [organizations]="organizations"></cc-organization-list>
          </ng-template>
        </ng-template>
      </li>
    </ul>
    <div class="ms-auto">
      <button
        class="btn btn-primary"
        *ngIf="nav.activeId === 'projects'"
        (click)="openCreateProjectModal()"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; New Project
      </button>
      <button
        class="btn btn-primary"
        *ngIf="nav.activeId === 'organizations'"
        (click)="openCreateOrganizationModal()"
      >
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>&nbsp; New Organization
      </button>
    </div>
  </div>

  <div class="mt-3" [ngbNavOutlet]="nav"></div>
</div>
