<div class="text-danger" *ngIf="!isValidFormControl(form)">
  <small *ngIf="errorType === 'required'">
    {{name}} is required.
  </small>
  <small *ngIf="errorType === 'minlength'">
    {{name}} must be at least {{form.errors['minlength']['requiredLength']}} characters long.
  </small>
  <small *ngIf="errorType === 'maxlength'">
    {{name}} must be at most {{form.errors['maxlength']['requiredLength']}} characters long.
  </small>
  <small *ngIf="errorType === 'email'">
    Please provide a valid email address.
  </small>
</div>

