node_modules
.browser_modules
lib
*.log
*-app/*
!*-app/package.json
!*-app/plugins
cinco-project-initializer-*.vsix
cinco-languages-extension-*.vsix
.idea/
.DS_Store
.yalc
tsconfig.tsbuildinfo
languages/dummy.ts
bundle.js
bundle.js.map
*.ttf

# Ignore Yarn v1 lockfile because it is generated differently on
# Linux/macOS/Windows which creates incompatibilities.
yarn.lock
