<div class="container mt-3">

  <div *ngIf="buildJobsPage != null">

    <div class="alert alert-info" *ngIf="buildJobsPage.items.length === 0">
      <span *ngIf="buildJobsPage.number == 0">There are no build jobs for this project yet.</span>
      <span *ngIf="buildJobsPage.number > 0">There are no more build jobs on this page.</span>
    </div>

    <ng-container *ngIf="buildJobsPage.items.length > 0">
      <div class="card mb-3">
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>Status</th>
              <th>Time</th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let job of buildJobsPage.items">
              <td style="width: 1px">
                <cc-project-build-job-status-badge [job]="job"></cc-project-build-job-status-badge>
              </td>
              <td>
                <div class="text-muted">
                  <fa-icon [icon]="['fas', 'calendar']" [fixedWidth]="true"></fa-icon> {{job.startedAt | date:'short'}}
                </div>
                <div *ngIf="job.finishedAt != null" class="text-muted">
                  <fa-icon [icon]="['fas', 'clock']" [fixedWidth]="true"></fa-icon> {{job.duration}}
                </div>
              </td>
              <td class="text-end">
                <div class="d-inline-block" ngbDropdown>
                  <button class="btn btn-sm btn-dark no-caret px-3" ngbDropdownToggle>
                    <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
                  </button>
                  <ul ngbDropdownMenu>
                    <li *ngIf="job.status === 'PENDING' || job.status === 'BUILDING'">
                      <div class="dropdown-item" (click)="abortJob(job)">Abort</div>
                    </li>
                    <li *ngIf="job.status !== 'BUILDING'">
                      <div class="dropdown-item" (click)="deleteJob(job)">Delete</div>
                    </li>
                    <li>
                      <div class="dropdown-item" [routerLink]="['/app', 'projects', project.id, 'build-jobs', job.id]">Build Log</div>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

    <cc-pagination
      [page]="buildJobsPage"
      (nextPage)="nextPage()"
      (previousPage)="previousPage()">
    </cc-pagination>
  </div>

</div>
