<div class="alert alert-info" *ngIf="project.image == null">
  No image has been built for this project yet.
</div>

<div class="card" *ngIf="project.image != null">
  <div class="card-body">
    <table class="table table-responsive mb-0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Created</th>
        <th class="text-end">Public</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="align-middle" style="width: 1px">
          <span class="badge bg-primary fs-6 text">{{project.image.fullyQualifiedName}}</span>
        </td>
        <td class="align-middle">
          <span class="badge bg-dark fs-6 text">{{project.image.imageVersion}}</span>
        </td>
        <td class="align-middle">
          {{ project.image.createdAt | date:'short' }}
        </td>
        <td class="align-middle text-end">
          <div class="d-flex align-items-center justify-content-end">
            <cc-toggle-button
              class="d-flex"
              [enabled]="project.image.published"
              [enabledTooltip]="'Make private'"
              [disabledTooltip]="'Make public'"
              (toggle)="handleToggle(project.image)"
            >
            </cc-toggle-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
