<div (click)="input.click()" class="alert bg-dark py-2 cursor-pointer d-flex mb-0">
  <div class="flex-grow-1 d-flex gap-3 align-items-center">
    <fa-icon [icon]="['fas', 'cloud-upload-alt']" [fixedWidth]="true"></fa-icon>
    <div class="flex-grow-1">
      <div>Select {{ multiple ? 'files' : 'a file' }} to upload</div>
    </div>
    <div *ngIf="files.length === 0">
      <em class="text-muted">none selected</em>
    </div>
    <div *ngIf="files.length === 1">
      <em class="text-muted">{{files[0].name}}</em>
    </div>
    <div *ngIf="files.length > 1">
      <em class="text-muted">{{files.length}} files selected</em>
    </div>
    <div *ngIf="files.length > 0">
      <button class="btn btn-sm btn-dark py-0" (click)="reset($event)">Remove</button>
    </div>
  </div>
  <input
    #input
    class="visually-hidden"
    type="file"
    (change)="handleChange($event)"
    [multiple]="multiple">
</div>
