<div class="main-class">
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <cc-user-navbar></cc-user-navbar>

        <div class="cinco-logo">
          <img src="assets/img/cinco-logo.png" style="width: 300px">
        </div>


        <a routerLink="/login" routerLinkActive="active">
          <button [routerLink]="'/login'" type="button" class="btn btn-primary login-button">
            Login
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
