<div>
  <form (submit)="$event.preventDefault()" [formGroup]="form">
    <input class="form-control" formControlName="searchTerm" placeholder="Enter a username or an email" type="text">
  </form>

  <div *ngIf="searching" class="alert alert-info mt-3 py-2 px-3">
    <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" class="me-2"></fa-icon>
    Searching...
  </div>

  <div *ngIf="notFound" class="alert alert-danger mt-3 py-2 px-3">
    Could not find any user matching "{{form.controls['searchTerm'].value}}".
  </div>

  <div *ngIf="matches.length > 0" class="list-group mt-3">
    <div class="list-group-item list-group-item-action d-flex"
         [class.active]="selectedUser?.id === user.id"
         *ngFor="let user of matches" (click)="select(user)">
      <div class="rounded-3 overflow-hidden" style="height: 46px">
        <cc-user-profile-image [user]="user"></cc-user-profile-image>
      </div>
      <div class="ms-2">
        <div class="mb-1">
          <fa-icon [fixedWidth]="true" [icon]="faUser"></fa-icon>
          {{user.name}} <span class="text-muted">(@{{user.username}})</span>
        </div>
        <div>
          <fa-icon [fixedWidth]="true" [icon]="faEnvelope"></fa-icon>
          {{user.email}}
        </div>
      </div>
    </div>
  </div>
</div>
