<a [routerLink]="['/app', 'projects', project.id, 'editor']" class="editor-widget d-flex align-items-center p-3 rounded-3 shadow-lg"
   style="">
  <fa-icon [icon]="['fas', 'code']" class="me-4 ms-2" size="lg"></fa-icon>
  <div class="flex-grow-1 ps-3 py-1" style="border-left: 1px solid rgba(255,255,255,.5)">
    <h6><strong>{{project.name}}</strong></h6>
    <p class="m-0">Start {{project.template == null ? 'working on your DSLs' : 'modeling in our graphical environment'}}
      now!</p>
  </div>
</a>
