<div class="container mt-3">

  <cc-edit-organization-card
    class="d-block mb-3"
    [organization]="organization"
    *ngIf="organizationStore.canUpdateOrganization(user)"
  >
  </cc-edit-organization-card>

  <div class="list-group mb-3">
    <div class="list-group-item d-flex">
      <div class="flex-grow-1">
        <h6 class="m-0">Leave the organization</h6>
        <p class="text-muted m-0">By leaving the organization, you will loose access to all projects.</p>
      </div>
      <div class="ms-3">
        <button
          class="btn btn-sm btn-danger"
          (click)="organizationStore.leaveOrganization()"
          [disabled]="organizationStore.canLeaveOrganization(user)"
        >
          Leave
        </button>
      </div>
    </div>
  </div>

  <div class="list-group" *ngIf="organizationStore.canDeleteOrganization(user)">
    <div class="list-group-item d-flex">
      <div class="flex-grow-1">
        <h6 class="m-0">Delete the organization</h6>
        <p class="text-muted m-0">Deleting the organization also deletes all associated projects.</p>
      </div>
      <div *ngIf="hasActiveBuildJobs" class="text-danger d-flex">
        <small class="align-self-center">There are active build jobs.</small>
      </div>
      <div class="ms-3 d-flex">
        <button
          class="btn btn-sm btn-danger align-self-center"
          (click)="organizationStore.deleteOrganization()"
          [disabled]="hasActiveBuildJobs"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

</div>
