/* You can add global styles to this file, and also import other style files */

@import "assets/scss/bootstrap";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: .875rem;
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  backdrop-filter: blur(3px);
  color: #555;

  .modal-title {
    color: #555;
  }
}

.list-group {
  .list-group-item {
    background: #525252;
    color: #fff;

    &.list-group-item-action {
      cursor: pointer;
      transition: background .2s ease-in-out;

      &:hover {
        background: lighten(#525252, 5);
      }
    }

    .text-muted {
      color: darken(#fff, 30) !important;
    }
  }
}
