/* You can add global styles to this file, and also import other style files */

@import "assets/scss/bootstrap";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: .875rem;
}

.cursor-pointer {
  cursor: pointer;
}

.no-caret {
  &:after {
    content: none !important;
  }
}

.modal {
  backdrop-filter: blur(3px);
  color: #555;

  .modal-title {
    color: #555;
  }
}

.list-group {
  .list-group-item {
    background: #525252;
    color: #fff;

    &.list-group-item-action {
      cursor: pointer;
      transition: background .2s ease-in-out;

      &:hover {
        background: lighten(#525252, 5);
      }
    }

    .text-muted {
      color: darken(#fff, 30) !important;
    }
  }
}

.nav-tabs {
  border-bottom: 1px solid #525252;

  .nav-link {
    color: #7e7e7e;

    &:hover {
      border-color: transparent;
      background: #292929;
      border-bottom: 1px solid #525252;
      color: #b6b6b6;
    }

    &.active {
      color: #d4d4d4;
      background-color: #525252;
      border-color: #525252;
    }
  }
}

.card {
  background: #525252;
  border-color: #525252;

  .card-header, .card-footer {
    background: rgba(0,0,0,.15);
  }
}

.table {
  color: #e1e1e1;
}

.text-muted {
  color: #959ea5 !important;
}

cc-sidebar > .sidebar {
  &.collapsed {
    width: 54px;

    .sidebar-item-text,
    .sidebar-collapse-button-text {
      display: none;
    }
  }
}

ul[role=tablist] .nav-link {
  background: rgba(0, 0, 0, 0.2);
  color: #bdbdbd;

  &.active {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;

    .badge {
      color: #fff;
    }
  }

  .badge {
    background: rgba(0, 0, 0, 0.2);
    margin-left: .5rem;
    color: #bdbdbd;
  }
}
