<aside class="sidebar d-flex flex-column h-100" [class.collapsed]="ui?.sidebarCollapsed">
  <div class="sidebar-header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="sidebar-items flex-grow-1 overflow-auto">
    <ng-content select="[items]"></ng-content>
  </div>
  <div class="sidebar-footer">
    <div class="sidebar-collapse-button cursor-pointer p-3" (click)="uiStore.toggleSidebar()">
      <fa-icon [icon]="['fas', collapsedIcon]" [fixedWidth]="true"></fa-icon>
      <span class="sidebar-collapse-button-text ms-2">Collapse sidebar</span>
    </div>
  </div>
</aside>
