@import "~src/assets/scss/bootstrap";

.sidebar {
  background: #292929;
  width: 240px;
}

.sidebar-collapse-button {
  color: #d4d4d4;
  border-top: 1px solid #333;
  border-left: 4px solid transparent;

  &:hover {
    color: $white;
    background: rgba(0,0,0,0.2);
  }
}
