<form (ngSubmit)="update()" [formGroup]="form">
  <div class="card">
    <div class="card-header">
      <strong>Update the project</strong>
    </div>
    <div class="card-body">
      <div class="mb-3" *ngIf="logoReference != null">
        <div class="logo rounded-3 d-flex" [ngStyle]="logoStyle" (click)="logoReference = null">
          <div class="rounded-3">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </div>
        </div>
        <hr>
      </div>
      <div class="mb-3">
        <label>Name</label>
        <input class="form-control" formControlName="name" placeholder="Enter a name for the project" type="text">
      </div>
      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description" placeholder="Enter a description for the project"
                  rows="3"></textarea>
      </div>
      <div>
        <label class="mb-1">Logo</label>
        <cc-file-input #input (selectFile)="handleFileSelect($event)" (clear)="handleClear()"></cc-file-input>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-sm btn-primary">Save</button>
    </div>
  </div>
</form>
