main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

img {
    max-width: 256px;
}

button {
    border: none;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="text"] {
    padding: 8px;
    border-radius: 3px;
    margin-right: 4px;
}
