<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <b>Congratulations!</b>

    <p>You are only one step away from being successfully registered within Cinco Cloud. To finalize your registration and activate your user account click the following activation link:</p>

    <p>
        <a href="{url}#/login?token={token}&userId={userId}">
            {url}#/login?token={token}&userId={userId}
        </a>
    </p>
</body>
</html>