<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <b>Congratulations!</b>

    <p>You have been successfully registered within Cinco Cloud. Click the following link and use your chosen credentials to enjoy the awesomeness of Cinco Cloud:</p>

    <p>
        <a href="{url}#/login">{url}#/login</a>
    </p>
</body>
</html>