<div *ngIf="organization != null" class="h-100 d-flex">
  <div class="sidebar">
    <cc-sidebar>
      <ng-container header>
        <cc-sidebar-header [image]="organization.logo" [text]="organization.name"></cc-sidebar-header>
      </ng-container>
      <ng-container items>
        <cc-sidebar-item
          [icon]="icons.folderOpen"
          [route]="['/app', 'organizations', '' + organization.id, 'projects']"
          text="Projects"
        >
        </cc-sidebar-item>
        <cc-sidebar-item
          [icon]="icons.users"
          [route]="['/app', 'organizations', '' + organization.id, 'users']"
          text="Members"
        >
        </cc-sidebar-item>
        <cc-sidebar-item
          *ngIf="organizationStore.canUpdateAccessRights(user)"
          [icon]="icons.userShield"
          [route]="['/app', 'organizations', '' + organization.id, 'access-management']"
          text="Access Management"
        >
        </cc-sidebar-item>
        <cc-sidebar-item
          [icon]="icons.cogs"
          [route]="['/app', 'organizations', '' + organization.id, 'settings']"
          text="Settings"
        >
        </cc-sidebar-item>
      </ng-container>
    </cc-sidebar>
  </div>
  <div class="page flex-grow-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>
