<form (ngSubmit)="update()" [formGroup]="form" *ngIf="form != null">
  <div class="card">
    <div class="card-header">
      <h6 class="m-0">Update Git information</h6>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="gitInformationType">Type</label>
        <select class="form-control" formControlName="type" id="gitInformationType">
          <option value="NONE">None</option>
          <option value="BASIC">Basic</option>
        </select>
      </div>
      <ng-container *ngIf="!(form.get('type').value === 'NONE')">
        <div class="mb-3">
          <label for="repositoryUrl">Repository URL</label>
          <input class="form-control" formControlName="repositoryUrl" id="repositoryUrl" type="text"
                 placeholder="Enter the URL of the repository">
          <cc-validation-error-message
            [form]="form.get('repositoryUrl')"
            [name]="'Repository URL'">
          </cc-validation-error-message>
        </div>
        <div class="mb-3">
          <label for="username">Username</label>
          <input class="form-control" formControlName="username" id="username" type="text"
                 placeholder="Enter the username">
          <cc-validation-error-message
            [form]="form.get('username')"
            [name]="'Username'">
          </cc-validation-error-message>
        </div>
        <div class="mb-3">
          <label for="password">Password</label>
          <input class="form-control" formControlName="password" id="password" type="password"
                 placeholder="Enter the username">
          <cc-validation-error-message
            [form]="form.get('password')"
            [name]="'Password'">
          </cc-validation-error-message>
        </div>
        <div class="mb-3">
          <label for="branch">Branch</label>
          <input class="form-control" formControlName="branch" id="branch" type="text"
                 placeholder="Enter the branch to push to">
        </div>
        <div>
          <label for="genSubdirectory">Subdirectory</label>
          <input class="form-control" formControlName="genSubdirectory" id="genSubdirectory" type="text"
                 placeholder="Enter the name of the directory to push in">
        </div>
      </ng-container>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-sm btn-primary" [disabled]="!canSave">Save</button>
    </div>
  </div>
</form>
