<nav class="navbar navbar-expand-lg org-nav-bg-color">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/img/cinco-logo-square.png" class="me-2" style="height: 23px;"> CincoCloud
    </a>

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler text-white" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
            type="button">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </button>
  </div>
</nav>
