<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex flex-row align-items-center" routerLink="/app">
      <cc-logo class="d-block" [height]="'23px'" />
    </a>

    <div class="toggle-button align-items-center gap-2">
      <cc-user-profile-image
        [user]="user"
        class="d-inline-block"
        style="height: 28px"/>
      <button
        aria-label="Toggle navigation"
        class="navbar-toggler text-white"
        type="button"
        (click)="showMenu = !showMenu"
      >
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>

    <div *ngIf="user != null" class="navbar-collapse">
      <!-- link items displayed when not collapsed -->
      <ul class="menu-not-collapsed navbar-nav" *ngIf="user.isAdmin">
        <li class="nav-item">
          <a class="nav-link py-1 text-white" routerLink="/app/admin">
            <fa-icon [fixedWidth]="true" [icon]="faUserLock"></fa-icon>
            <span class="ms-2">Admin</span>
          </a>
        </li>
      </ul>

      <!-- menu shown when collapsed via hamburger menu -->
      <ul class="menu-collapsed navbar-nav mt-2" *ngIf="showMenu">
        <li class="nav-item" *ngIf="user.isAdmin">
          <a class="nav-link px-3 text-white" routerLink="/app/admin" (click)="showMenu = false">
            <fa-icon [fixedWidth]="true" [icon]="faUserLock"></fa-icon>
            <span class="ms-2">Admin</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-white" routerLink="/app/profile" (click)="showMenu = false">
            <fa-icon [fixedWidth]="true" [icon]="faUser"></fa-icon>
            <span class="ms-2">Profile</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3 text-white" routerLink="/logout" (click)="showMenu = false">
            <fa-icon [fixedWidth]="true" [icon]="faSignOutAlt"></fa-icon>
            <span class="ms-2">Logout</span>
          </a>
        </li>
      </ul>

      <!-- dropdown menu -->
      <ul class="menu-not-collapsed nav ms-auto">
        <li class="nav-item" display="dynamic" ngbDropdown placement="bottom-end">
          <a
            class="nav-link text-white py-1"
            ngbDropdownToggle
            role="button"
            tabindex="0"
          >
            <cc-user-profile-image
              [user]="user"
              class="d-inline-block me-2"
              style="height: 23px"/>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/app/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem routerLink="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
