<div class="list-group">
  <a *ngFor="let project of projects" class="list-group-item list-group-item-action d-flex" [routerLink]="['/app', 'projects', project.id]">
    <div class="flex-grow-1">
      <div>
        <strong>{{project.name}}</strong>
      </div>
      <div *ngIf="project.description !== ''" class="text-muted">
        <em>
          <small>{{project.description}}</small>
        </em>
      </div>
    </div>
    <div class="mx-3">
      <span class="project-type-badge badge" *ngIf="project.template != null">
        <fa-icon [icon]="['fas', 'project-diagram']" class="me-1"></fa-icon>Model Editor
      </span>
      <span class="project-type-badge badge" *ngIf="project.template == null">
        <fa-icon [icon]="['fas', 'code']" class="me-1"></fa-icon>Language Editor
      </span>
    </div>
    <div class="owner-column" *ngIf="isUserOwnerOfProject(project)">
      <span class="badge bg-secondary">Owner</span>
    </div>
  </a>
</div>
