<div class="btn-group" *ngIf="page != null">
  <button class="btn btn-outline-light" (click)="previousPage.emit(null)" [disabled]="!page.hasPreviousPage">
    <i class="fas fa-fw fa-angle-left"></i> Previous page
  </button>
  <button class="btn btn-outline-light" disabled>
    {{(page.number + 1)}} / {{page.amountOfPages}}
  </button>
  <button class="btn btn-outline-light" (click)="nextPage.emit(null)" [disabled]="!page.hasNextPage">
    Next page <i class="fas fa-fw fa-angle-right"></i>
  </button>
</div>
