.structure {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content auto;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  .navigation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
  }

  .page {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: auto;
  }
}
